@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  min-width: 1280px;
  height: 100% !important;
  background-color: transparent; }

body {
  min-height: 100%;
  height: 100%; }

div, span, h1, h2, h3, h4, h5, h6, p, a, label, input, button, strong, small, ul, ol, li, th, td {
  font-family: 'Nanum Gothic', '나눔고딕', NanumGothic, 'NanumGothicWeb', '맑은고딕', MalgunGothic, '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif !important;
  font-weight: 700;
  color: #516378; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0;
    list-style: none; }

a {
  text-decoration: none; }
  a:hover, a:visited, a:link {
    text-decoration: none; }

input[type=text] {
  height: 36px;
  border: 0;
  font-size: 13px;
  padding: 9px;
  border: 1px solid #cdcfd0;
  background-color: #fff; }

.forCtrl {
  display: block;
  overflow: visible;
  height: 100%; }

ng-view {
  display: block;
  padding-left: calc(74px + 280px);
  height: 100%; }

nav {
  background-color: #516378;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 74px;
  color: rgba(255, 255, 255, 0.5);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 10px 0 12px;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px; }
  nav ul {
    display: table; }
    nav ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;
      width: 68px;
      height: 68px;
      border-radius: 3px;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer; }
      nav ul li a {
        color: rgba(255, 255, 255, 0.5);
        text-align: center; }
        nav ul li a:hover {
          color: white; }
        nav ul li a img {
          max-width: 50%;
          margin: 5px; }

aside {
  position: absolute;
  top: 0;
  left: 74px;
  padding: 0;
  margin: 0;
  width: 280px;
  height: 100%;
  background-color: #f3f4f5;
  border-right: 1px solid #e8ebed;
  overflow-y: scroll; }
  aside h1 {
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    color: #516378;
    height: 54px;
    padding: 17px;
    margin: 0;
    border-bottom: 1px solid rgba(81, 99, 120, 0.1); }
  aside form {
    width: 100%;
    height: auto;
    padding: 15px;
    border-bottom: 1px solid rgba(81, 99, 120, 0.1); }
    aside form input[type=text] {
      width: 100%; }
  aside ul {
    width: 100%;
    height: auto; }
    aside ul li {
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 60px;
      padding: 9px;
      cursor: pointer;
      -ms-flex-align: center;
      align-items: flex-start;
      flex-flow: column; }
      aside ul li.active {
        background-color: rgba(81, 99, 120, 0.2); }
      aside ul li:hover {
        background-color: rgba(81, 99, 120, 0.06); }
      aside ul li .name {
        display: -ms-flexbox;
        display: flex;
        margin-top: 11px;
        font-size: 13px;
        font-weight: 700;
        color: #516378; }
      aside ul li .datetime, aside ul li .filename, aside ul li .shops {
        width: 100%;
        margin-top: 5px;
        font-size: 12px;
        font-weight: normal;
        color: #516378;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
        aside ul li .datetime span:after, aside ul li .filename span:after, aside ul li .shops span:after {
          content: ', '; }
        aside ul li .datetime span:last-child:after, aside ul li .filename span:last-child:after, aside ul li .shops span:last-child:after {
          content: ''; }

.form-wrapper {
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: auto;
  height: 100%; }

form, .form {
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  padding-top: 54px;
  width: 280px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #e8ebed; }
  form.wide, .form.wide {
    width: 440px; }
  form h2, .form h2 {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    margin: 0;
    font-size: 18px;
    padding-left: 19px;
    border-bottom: 1px solid #e8ebed;
    box-sizing: content-box;
    font-weight: 700;
    line-height: 54px;
    color: #516378; }
  form .content, .form .content {
    position: absolute;
    display: block;
    top: 54px;
    left: 0;
    width: 100%;
    height: calc(100% - 54px);
    margin: 0;
    padding: 0;
    overflow: scroll; }
  form .row, .form .row {
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: calc(18px + 12px);
    padding-right: 12px; }
    form .row:before, .form .row:before {
      content: "";
      position: absolute;
      top: 4px;
      bottom: 0;
      left: 8px;
      width: 4px;
      background-color: #87d5ff; }
    form .row label, .form .row label {
      display: block;
      margin: 12px;
      margin-left: 5px;
      vertical-align: bottom;
      font-size: 13px;
      font-weight: 700;
      color: #7c858c; }
    form .row > label, .form .row > label {
      margin-left: -12px; }
    form .row .checkbox-with-label, .form .row .checkbox-with-label {
      display: inline-block;
      vertical-align: middle;
      padding: 5px;
      max-width: 49.5%; }
      form .row .checkbox-with-label input[type=checkbox], form .row .checkbox-with-label input[type=radio], .form .row .checkbox-with-label input[type=checkbox], .form .row .checkbox-with-label input[type=radio] {
        margin: 0 12px;
        margin-left: 0;
        margin-right: 0; }
      form .row .checkbox-with-label input[type=checkbox] + label, form .row .checkbox-with-label input[type=radio] + label, .form .row .checkbox-with-label input[type=checkbox] + label, .form .row .checkbox-with-label input[type=radio] + label {
        display: inline-block;
        color: #98a7b3;
        margin: 0; }
      form .row .checkbox-with-label button, .form .row .checkbox-with-label button {
        margin: 0; }
        form .row .checkbox-with-label button.arrow, .form .row .checkbox-with-label button.arrow {
          padding: 5px; }
    form .row input[type=text], form .row textarea, .form .row input[type=text], .form .row textarea {
      display: block;
      width: 100%;
      margin: 12px;
      margin-left: 0;
      margin-top: 0; }
    form .row textarea, .form .row textarea {
      height: 300px; }
    form .row select, .form .row select {
      width: 100%;
      background-color: #fff;
      border: 1px solid #e8ebed;
      border-radius: 3px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
      height: 36px;
      padding-left: 15px; }
  form button, .form button {
    height: 28px;
    border: 1px solid #98a7b3;
    border-radius: 3px;
    padding: 0 14px;
    margin: 5px;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    color: #516378;
    background-color: white; }
    form button:hover, .form button:hover {
      background-color: #00d63d;
      border: 1px solid #00d63d; }
  form ul li, .form ul li {
    padding: 5px 14px;
    cursor: pointer; }
    form ul li.active, .form ul li.active {
      background-color: rgba(81, 99, 120, 0.2); }
    form ul li:hover, .form ul li:hover {
      background-color: rgba(81, 99, 120, 0.06); }
    form ul li .name, .form ul li .name {
      margin-bottom: 2px;
      color: #516378;
      font-size: 14px;
      font-weight: normal; }
    form ul li .link, .form ul li .link {
      display: inline-block;
      max-width: 90%;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.4;
      color: #98a7b3;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
      form ul li .link a, .form ul li .link a {
        font-size: 13px;
        font-weight: normal;
        line-height: 1.4;
        color: #98a7b3; }
    form ul li .datetime, form ul li .shop, .form ul li .datetime, .form ul li .shop {
      font-size: 13px;
      font-weight: normal;
      line-height: 1.4;
      color: #98a7b3; }

.list-add-form {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e8ebed; }
  .list-add-form .row {
    padding-left: 12px;
    padding-right: 12px; }
    .list-add-form .row:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 0;
      background-color: transparent; }
    .list-add-form .row label {
      text-align: left; }
    .list-add-form .row > label {
      margin-left: 0px; }
    .list-add-form .row ul {
      width: 100%;
      margin-top: 0;
      padding-top: 0;
      text-align: left; }
    .list-add-form .row button {
      display: block;
      margin: 5px auto; }

.preview-img {
  max-width: 100%; }
