@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	width: 100%;
	min-width: 1280px;
	height: 100% !important;
	background-color: transparent;
}

body{
	min-height: 100%;
	height: 100%;
}

div, span, h1, h2, h3, h4, h5, h6, p, a, label, input, button, strong, small, ul, ol, li, th, td{
	font-family: 'Nanum Gothic', '나눔고딕', NanumGothic, 'NanumGothicWeb', '맑은고딕', MalgunGothic, '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif !important;
	font-weight: 700;
	color: #516378;
}

ul{
	margin: 0;
	padding: 0;
	li{
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

a{
	text-decoration: none;
	&:hover, &:visited, &:link{
		text-decoration: none;
	}
}

input[type=text]{
	height: 36px;
	border: 0;
	font-size: 13px;
	padding: 9px;
	border: 1px solid #cdcfd0;
	background-color: #fff;
}

.forCtrl{
	display: block;
	overflow: visible;
	height: 100%;
}

ng-view{
	display: block;
	padding-left: calc(74px + 280px);
	height: 100%;
}

nav{
	background-color: #516378;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 74px;
	color: hsla(0, 0%, 100%, .5);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	padding: 10px 0 12px;
	-ms-flex-align: center;
	align-items: center;
	font-size: 12px;
	ul{
		display: table;
		li{
			margin: 0;
			padding: 0;
			list-style: none;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			position: relative;
			width: 68px;
			height: 68px;
			border-radius: 3px;
			-ms-flex-pack: center;
			justify-content: center;
			-ms-flex-align: center;
			align-items: center;
			cursor: pointer;
			a{
				color: hsla(0, 0%, 100%, .5);
				text-align: center;
				&:hover{
					color: white;
				}
				img{
					max-width: 50%;
					margin: 5px;
				}
			}
		}
	}
}

aside{
	position: absolute; top: 0; left: 74px;
	padding: 0; margin: 0;
	width: 280px;
	height: 100%;
	background-color: #f3f4f5;
	border-right: 1px solid #e8ebed;
	overflow-y: scroll;
	h1{
		font-size: 15px;
		font-weight: 700;
		line-height: normal;
		color: #516378;
		height: 54px;
		padding: 17px;
		margin: 0;
		border-bottom: 1px solid rgba(81, 99, 120, .1);
	}
	form{
		width: 100%; height: auto;
		padding: 15px;
		border-bottom: 1px solid rgba(81, 99, 120, .1);
		input[type=text]{
			width: 100%;
		}
	}
	ul{
		width: 100%; height: auto;
		li{
			display: -ms-flexbox;
			display: flex;
			width: 100%;
			height: 60px;
			padding: 9px;
			cursor: pointer;
			-ms-flex-align: center;
			align-items: flex-start;
			flex-flow: column;
			&.active{
				background-color: rgba(81, 99, 120, .2);
			}
			&:hover{
				background-color: rgba(81, 99, 120, .06);
			}
			.name{
				display: -ms-flexbox;
				display: flex;
				margin-top: 11px;
				font-size: 13px;
				font-weight: 700;
				color: #516378;
			}
			.datetime, .filename, .shops{
				width: 100%;
				margin-top: 5px;
				font-size: 12px; font-weight: normal;
				color: #516378;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				span{
					&:after{
						content:', ';
					}
					&:last-child:after{
						content:'';
					}
				}
			}
		}
	}
}

.form-wrapper{
	position: relative;
	float: left; padding: 0; margin: 0;
	width: auto; height: 100%;
}

form, .form{
	position: relative;
	float: left; padding: 0; margin: 0; padding-top: 54px;
	width: 280px; height: 100%;
	overflow-y:auto; overflow-x: hidden;
	border-right: 1px solid #e8ebed;
	&.wide{
		width: 440px;
	}
	h2{
		position:absolute; display: block; top: 0; left: 0;
		width:100%; height: 54px; margin: 0; font-size: 18px; padding-left: 19px;
		border-bottom: 1px solid #e8ebed;
		box-sizing: content-box;
		font-weight: 700;
		line-height: 54px;
		color: #516378;
	}
	.content{
		position: absolute; display: block; top: 54px; left: 0;
		width: 100%; height: calc(100% - 54px); margin: 0; padding: 0; overflow: scroll;
	}
	.row{
		position: relative;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 12px;
		padding-left: calc(18px + 12px);
		padding-right: 12px;
		&:before{
			content: "";
			position: absolute;
			top: 4px;
			bottom: 0;
			left: 8px;
			width: 4px;
			background-color: #87d5ff;
		}
		label{
			display: block;
			margin: 12px; margin-left: 5px;
			vertical-align: bottom;
			font-size: 13px;
			font-weight: 700;
			color: #7c858c;
		}
		& > label{
			margin-left: -12px;
		}
		.checkbox-with-label{
			display: inline-block;
			vertical-align: middle;
			padding: 5px; max-width: 49.5%;
			input[type=checkbox], input[type=radio]{
				margin: 0 12px; margin-left: 0; margin-right: 0;
			}
			input[type=checkbox] + label, input[type=radio] + label{
				display: inline-block; color: #98a7b3; margin: 0;
			}
			button{
				margin: 0;
				&.arrow{
					padding: 5px;
				}
			}
		}
		input[type=text], textarea{
			display: block;
			width: 100%;
			margin: 12px; margin-left: 0; margin-top: 0;
		}
		textarea{
			height: 300px;
		}
		select{
			width: 100%;
			background-color: #fff;
			border: 1px solid #e8ebed;
			border-radius: 3px;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
			height: 36px;
			padding-left: 15px;
		}
	}
	button{
		height: 28px;
		border: 1px solid #98a7b3;
		border-radius: 3px;
		padding: 0 14px;
		margin: 5px;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
		font-size: 13px;
		color: #516378;
		background-color: white;
		&:hover{
			background-color: #00d63d;
			border: 1px solid #00d63d;
		}
	}
	ul{
		li{
			padding: 5px 14px;
			cursor: pointer;
			&.active{
				background-color: rgba(81, 99, 120, .2);
			}
			&:hover{
				background-color: rgba(81, 99, 120, .06);
			}
			.name{
				margin-bottom: 2px;
				color: #516378;
				font-size: 14px;
				font-weight: normal;
			}
			.link{
				display: inline-block;
				max-width: 90%;
				font-size: 13px;
				font-weight: normal;
				line-height: 1.4;
				color: #98a7b3;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				a{
					font-size: 13px;
					font-weight: normal;
					line-height: 1.4;
					color: #98a7b3;
				}
			}
			.datetime, .shop{
				font-size: 13px;
				font-weight: normal;
				line-height: 1.4;
				color: #98a7b3;
			}
		}
	}
}

.list-add-form{
	display: block;
	width: 100%; height: auto;
	text-align: center;
	padding: 0; margin: 0;
	border-top: 1px solid #e8ebed;
	.row{
		padding-left: 12px;
		padding-right: 12px;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 0;
			background-color: transparent;
		}
		label{
			text-align: left;
		}
		& > label{
			margin-left: 0px;
		}
		ul{
			width: 100%;
			margin-top: 0; padding-top: 0;
			text-align: left;
		}
		button{
			display: block;
			margin: 5px auto;
		}
	}
}

.preview-img{
	max-width: 100%;
}