	<aside ng-controller="imageListController as imageListCtrl">
		<h1>이미지관리</h1>
		<!--등록된 이미지 리스트-->
		<form>
			<input type="text" placeholder="이미지명 검색" ng-model="keyword.image_tag">
		</form>
		<form class="list-add-form">
			<div class="row">
				<label>이미지정보 추가</label>
				<input type="text" ng-model="imageListCtrl.image_info_init.image_tag">
				<button ng-click="imageListCtrl.add_image_list()">추가</button>
			</div>
		</form>
		<ul>
			<li ng-repeat="image in image_list | filter:keyword" ng-click="imageListCtrl.open_info(image.image_id)">
				<div class="name" ng-bind="image.image_tag">이미지명1</div>
				<div class="filename" ng-bind="$root.translate(image.division)"></div>
			</li>
		</ul>
	</aside>

	<div class="form-wrapper" ng-controller="imageInfoController as imageInfoCtrl">
		<form ng-if="imageInfoCtrl.image_info">
			<h2>기존 이미지 관리</h2>
			<div class="content">
				<div class="row">
					<label>이미지명(파일명과 상관없음)</label>
					<input type="text" name="image_tag" ng-model="imageInfoCtrl.image_info.image_tag">
				</div>
				<div class="row">
					<label>이미지교체</label>
					<input type="file" name="target_image" ngf-select ngf-change="imageInfoCtrl.image_upload($file)" ngf-accept="'image/*'">
				</div>
				<div class="row">
					<label>구분</label>
					<select ng-model="imageInfoCtrl.image_info.division">
						<option value="stitle">섹션타이틀(자체)</option>
						<option value="content">컨텐츠(자체)</option>
						<option value="prod_desc">상품설명(제공)</option>
					</select>
				</div>
				<div class="row">
					<label>링크생성</label>
					<input type="text" name="href" ng-model="imageInfoCtrl.image_info.href">
				</div>
				<div class="row">
					<button ng-click="imageInfoCtrl.mod_image_info()">수정확정</button>
					<button ng-click="imageInfoCtrl.remove_image_info()">정보삭제</button>
				</div>
			</div>
		</form>

		<!-- 바인딩된 상품 리스트-->
		<div class="form" ng-if="imageInfoCtrl.image_info">
			<h2>이 이미지와 연결된 상품 목록</h2>
			<div class="content">
				<ul>
					<li ng-repeat="match in imageInfoCtrl.match_info">
						<a ng-href="/#/product?id={{match.prod_info.prod_id}}">
							<div class="name" ng-bind="match.prod_info.prod_name">연결된 상품의 상품명4</div>
							<div class="datetime" ng-bind="match.prod_info.reg_date">17/03/31</div>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="wide form" ng-if="imageInfoCtrl.image_info">
			<h2>미리보기</h2>
			<div class="content">
				<img class="preview-img" ng-src="/static/image/{{imageInfoCtrl.image_info.image_filename}}" />
			</div>
		</div>
	</div>