<div class="name" ng-bind="match.image_info.image_tag">연결된 이미지의 이미지명</div>
<div class="link" ng-if="match.image_info.href">
	링크 : <a target="_blank" ng-href="{{match.image_info.href}}" ng-bind="match.image_info.href"></a>
</div>
<div class="row shop">
	<div class="checkbox-with-label">
		<button class="arrow" ng-click="switch_seq('up')">▲</button>
		<button class="arrow" ng-click="switch_seq('down')">▼</button>
	</div>
	<div class="checkbox-with-label">
		<button ng-click="unlink()">연결해제</button>
	</div>
	<br>
	<div class="checkbox-with-label" ng-click="toggleSelection('shop','firstmall')">
		<input type="checkbox" ng-checked="match.shop.indexOf('firstmall') > -1"><label>퍼스트몰</label>
	</div>
	<div class="checkbox-with-label" ng-click="toggleSelection('shop','storefarm')">
		<input type="checkbox" ng-checked="match.shop.indexOf('storefarm') > -1"><label>스토어팜</label>
	</div>
	<div class="checkbox-with-label" ng-click="toggleSelection('shop','auction')">
		<input type="checkbox" ng-checked="match.shop.indexOf('auction') > -1"><label>옥션/지마켓</label>
	</div>
	<div class="checkbox-with-label" ng-click="toggleSelection('shop','11st')">
		<input type="checkbox" ng-checked="match.shop.indexOf('11st') > -1"><label>11번가</label>
	</div>
	<div class="checkbox-with-label" ng-click="toggleSelection('shop','interpark')">
		<input type="checkbox" ng-checked="match.shop.indexOf('interpark') > -1"><label>인터파크</label>
	</div>
</div>