	<aside ng-controller="productListController as productListCtrl">
		<h1>상품정보관리</h1>
		<!--등록된 상품 리스트-->
		<form>
			<input type="text" placeholder="상품명 검색" ng-model="keyword.prod_name">
		</form>
		<form class="list-add-form">
			<div class="row">
				<label>상품정보 추가</label>
				<input type="text" ng-model="productListCtrl.prod_info_init.prod_name">
				<button ng-click="productListCtrl.add_product_list()">추가</button>
			</div>
		</form>
		<ul>
			<li ng-repeat="product in product_list | filter:keyword" ng-click="productListCtrl.open_info(product.prod_id)">
				<div class="name" ng-bind="product.prod_name">상품명1</div>
				<div class="datetime" ng-bind="product.reg_date">17/03/31</div>
			</li>
		</ul>
	</aside>

	<div class="form-wrapper" ng-controller="productInfoController as productInfoCtrl">
		<!--기존상품 수정-->
		<form ng-if="productInfoCtrl.prod_info">
			<h2>기존 상품정보 수정</h2>
			<div class="content">
				<div class="row">
					<label>상품명</label>
					<input type="text" name="prod_name" ng-model="productInfoCtrl.prod_info.prod_name">
				</div>
				<div class="row">
					<button ng-click="productInfoCtrl.mod_prod_info()">수정확정</button>
					<button ng-click="productInfoCtrl.remove_prod_info()">정보삭제</button>
				</div>
				<hr>
				<div class="row">
					<label>html 태그 추출</label>
					<button ng-click="productInfoCtrl.get_html_tag('firstmall')">퍼스트몰</button>
					<button ng-click="productInfoCtrl.get_html_tag('storefarm')">스토어팜</button>
					<button ng-click="productInfoCtrl.get_html_tag('auction')">지마켓/옥션</button>
					<button ng-click="productInfoCtrl.get_html_tag('11st')">11번가</button>
					<button ng-click="productInfoCtrl.get_html_tag('interpark')">인터파크</button>
				</div>
				<div class="row">
					<label>추출결과</label>
					<textarea ng-model="productInfoCtrl.html_tag_result" readonly="readonly"></textarea>
					<button ng-click="productInfoCtrl.copy_html_tag()">클립보드에 복사하기</button>
				</div>
			</div>
		</form>

		<!-- 바인딩된 이미지 리스트-->
		<div class="form" ng-if="productInfoCtrl.prod_info">
			<h2>이 상품과 연결된 이미지 목록</h2>
			<div class="content">
				<ul>
					<li ng-repeat="match in match_info" relative-image product="productInfoCtrl.prod_info" match="match_info[$index]"></li>
				</ul>
				<form class="list-add-form">
					<div class="row">
						<label>이미지 추가</label>
						<input type="text" name="" ng-model="productInfoCtrl.image_search_keyword">
						<ul>
							<li ng-repeat="image in productInfoCtrl.image_search_list" ng-bind="image.image_tag" ng-click="productInfoCtrl.match_image(image.image_id)">검색한이미지명</li>
						</ul>
					</div>
				</form>
			</div>
		</div>

		<div class="wide form" ng-if="productInfoCtrl.prod_info">
			<h2>미리보기</h2>
			<div class="content">
				<div class="row">
					<label>모아보기</label>
					<div class="checkbox-with-label">
						<input type="radio" ng-model="view_option" name="view_option" value="firstmall"><label>퍼스트몰</label>
					</div>
					<div class="checkbox-with-label">
						<input type="radio" ng-model="view_option" name="view_option" value="storefarm"><label>스토어팜</label>
					</div>
					<div class="checkbox-with-label">
						<input type="radio" ng-model="view_option" name="view_option" value="auction"><label>옥션/지마켓</label>
					</div>
					<div class="checkbox-with-label">
						<input type="radio" ng-model="view_option" name="view_option" value="11st"><label>11번가</label>
					</div>
					<div class="checkbox-with-label">
						<input type="radio" ng-model="view_option" name="view_option" value="interpark"><label>인터파크</label>
					</div>
				</div>
				<div class="preview">
					<img ng-repeat="match in match_info" class="preview-img" ng-src="/static/image/{{match.image_info.image_filename}}" ng-if="match.shop.indexOf(view_option) > -1" />
				</div>
			</div>
		</div>
	</div>